main {
  background-color: var(--back);
  color: var(--text);
  width: 100%;
  height: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Azeret Mono", sans-serif;
  flex-direction: column;
  --snowflake: "â…";
}

main > * {
  position: relative;
}

#app {
  width: 100%;
  height: 100%;
}

h1 {
  font-size: calc(var(--normalized-font) * 4);
  text-align: center;
}

h2 {
  text-align: center;
  margin: 0;
}

.counter {
  font-size: calc(var(--normalized-font) * 3);
}

.counter-container {
  width: max-content;
}

p {
  margin: 0;
  display: block;
  width: max-content;
}

span {
  display: inline-block;
  height: max-content;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.amount {
  color: var(--accent);
}

.amount:before {
  content: attr(data-zeros);
  opacity: 0.5;
}

.year {
  color: var(--accent);
}

.snowflakes {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 0;
  font-size: calc(var(--normalized-font) * 1.5);
}

@keyframes snowflakes-fall {
  0% {
    top: -10%;
  }
  100% {
    top: 100%;
  }
}
@keyframes snowflakes-shake {
  0%,
  100% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(5vmin);
  }
}

@keyframes snowflakes-shake-after {
  0%,
  100% {
    margin-left: 10vmin;
  }
  50% {
    margin-left: 0vmin;
  }
}

.flake {
  position: fixed;
  animation-name: snowflakes-fall, snowflakes-shake;
  animation-duration: 10s, 3s;
  animation-timing-function: linear, ease-in-out;
  animation-iteration-count: infinite;
  animation-play-state: running;
  opacity: 0.4;
}

.flake:before,
.flake:after {
  content: var(--snowflake);
  position: absolute;
}

.flake:before {
  top: 50%;
}

.flake:after {
  animation-name: snowflakes-shake-after;
  animation-duration: 4s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-play-state: running;
  position: absolute;
  left: 100%;
  top: 100%;
}

a {
  color: var(--link);
}
