main {
  --font-multiplier: 1;
  color: var(--text);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  --snowflake: "â…";
  text-align: center;

  background: radial-gradient(circle at 80% 20%, #fff 0 3em, transparent 3.5em),
    linear-gradient(
      0deg,
      var(--bright-red) -10%,
      var(--bright-pink-overlay) 5%,
      var(--bright-purple-overlay) 20%,
      var(--bright-blue-overlay) 30%,
      var(--background) 90%
    );
  background-repeat: no-repeat;
  background-position: center bottom;
}

main > * {
  position: relative;
}

h1 {
  margin: 0.1em;
  --font-multiplier: 3.5;
}

h2 {
  margin: 0.2em;
  --font-multiplier: 3;
}

.counter {
  margin: 0.5em 0;
  --font-multiplier: 2.5;
}

@media (max-width: 25em) {
  h1 {
    --font-multiplier: 3;
  }
  h2 {
    --font-multiplier: 2.5;
  }
  .counter {
    --font-multiplier: 2;
  }
}

.prefix {
  opacity: 0.5;
}

.snowflakes {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 0;
  --font-multiplier: 1.5;
  color: var(--mono-lightgray);
}

@keyframes snowflakes-fall {
  0% {
    top: -10%;
  }
  100% {
    top: 100%;
  }
}
@keyframes snowflakes-shake {
  0%,
  100% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(5vmin);
  }
}

@keyframes snowflakes-shake-after {
  0%,
  100% {
    margin-left: 10vmin;
  }
  50% {
    margin-left: 0vmin;
  }
}

.flake {
  position: fixed;
  animation-name: snowflakes-fall, snowflakes-shake;
  animation-duration: 10s, 3s;
  animation-timing-function: linear, ease-in-out;
  animation-iteration-count: infinite;
  animation-play-state: running;
  opacity: 1;
}

.flake::before,
.flake::after {
  content: var(--snowflake);
  position: absolute;
}

.flake::before {
  top: 50%;
}

.flake::after {
  animation-name: snowflakes-shake-after;
  animation-duration: 4s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-play-state: running;
  position: absolute;
  left: 100%;
  top: 100%;
}

a {
  color: var(--text);
  font-weight: 700;
  text-underline-offset: 2px;
  text-decoration-thickness: 2px;
  padding: 0.3em;
  border-radius: 0.2em;
}

::selection {
  background: var(--text);
  color: var(--background);
}

h1 .prefix {
  font-size: 0.4em;
}

* {
  font-size: calc(var(--normalized-font) * var(--font-multiplier));
}
