@import url("https://fonts.googleapis.com/css2?family=Azeret+Mono:wght@400;700&display=swap");

:root {
  font-family: "Azeret Mono", monospace;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --normalized-font: min(16px, 1em);
}

body {
  margin: 0;
  background: var(--background);
  display: flex;
  justify-content: center;
  align-items: center;
}

body,
#app,
main {
  width: 100%;
  height: 100%;
  min-height: 100vh;
}
